<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

	<resultMap id="boardMyPost" type="Board">
		<result property="boardNo" column="BOARD_NO" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardCreateDate" column="CREATE_DATE" />
		<result property="readCount" column="READ_COUNT" />
		<result property="boardCode" column="BOARD_CODE" />

		<result property="boardName" column="BOARD_NAME" />

		<result property="userNo" column="USER_NO" />
		<result property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />

	</resultMap>

	<resultMap id="MyComment" type="Comment">
		<result property="boardNo" column="BOARD_NO" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardCreateDate" column="CREATE_DATE" />
		<result property="readCount" column="READ_COUNT" />
		<result property="boardCode" column="BOARD_CODE" />

		<result property="boardName" column="BOARD_NAME" />

		<result property="userNo" column="USER_NO" />
		<result property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />

		<result property="commentNo" column="COMMENT_NO" />
		<result property="commentContent" column="COMMENT_CONTENT" />
		<result property="commentCreateDate" column="C_CREATE_DATE" />
		<result property="commentStart" column="COMMENT_STAR" />
		<result property="commentPatentNo" column="PARENT_NO" />
	</resultMap>

	<resultMap type="Reservation" id="reservation_rm">
		<!-- DB의 기본 키(복합키면 여러 개 작성) -->
		<id property="reservationNo" column="RESERVATION_NO" />

		<!-- DB의 일반 컬럼들 -->
		<result property="reservationName" column="RESERVATION_NAME" />
		<result property="reservationDelFl" column="RESERVATION_DEL_FL" />
		<result property="reservationStartDate"
			column="RESERV_START_DATE" />
		<result property="reservationEndDate" column="RESERV_END_DATE" />
		<result property="price" column="PRICE" />
		<result property="reservType" column="RESERV_TYPE" />
		<result property="reservUID" column="RESERV_UID" />


		<result property="payTime" column="PAY_TIME" />
		<result property="userNo" column="USER_NO" />
		<result property="depPlace" column="DEP_PLACE" />
		<result property="arrPlace" column="ARR_PLACE" />

		<result property="seatNo" column="SEAT_NO" />

		<result property="transpCode" column="TRANSP_CODE" />
		<result property="grade" column="GRADE" />
		<result property="trainCarNo" column="TRAIN_CAR_NO" />

		<result property="resPeople" column="RES_PEOPLE" />
		<result property="accCode" column="ACC_CODE" />
		<result property="accNo" column="ACC_NO" />
		<result property="userName" column="USER_NAME" />
		<result property="userTel" column="USER_TEL" />
		<result property="accAddr" column="ACC_ADDR" />

	</resultMap>

	<!-- 쪽지 -->
	<resultMap type="Message" id="message_rm">
		<id property="messageNo" column="MESSAGE_NO" />
		<result property="messageContent" column="MESSAGE_CONTENT" />
		<result property="messageCreateDate" column="M_CREATE_DATE" />
		<result property="messageDelFlag" column="MESSAGE_DEL_FL" />
		<result property="senderNo" column="SENDER_NO" />
		<result property="recieverNo" column="RECIEVER_NO" />
		<result property="userNickname" column="USER_NICKNAME" />
	</resultMap>

	<!-- 프로필 이미지 수정 -->
	<update id="updateProfile">
		UPDATE "USER" SET
		PROFILE_IMG = #{profileImage}
		WHERE
		USER_NO = #{userNo}
	</update>

	<!-- 회원 정보 수정 -->
	<update id="updateInfo" parameterType="User">
		UPDATE "USER" SET
		USER_NICKNAME = #{userNickname}
		<!-- , USER_TEL = #{userTel} -->
		, USER_ADDR = #{userAddress}
		, PROFILE_IMG = #{profileImage}
		WHERE USER_NO = #{userNo}
	</update>

	<!-- 비밀번호 조회 -->
	<select id="selectEncPw" parameterType="_int"
		resultType="string">
		SELECT USER_PW
		FROM "USER"
		WHERE USER_NO = #{userNo}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="changePw" parameterType="User">
		UPDATE "USER" SET
		USER_PW =
		#{userPw}
		WHERE USER_NO = #{userNo}
	</update>

	<!-- 회원 탈퇴 -->
	<update id="secession" parameterType="_int">
		UPDATE "USER" SET
		USER_DEL_FL = 'Y'
		WHERE USER_NO = #{userNo}
	</update>


	<!-- 나의 결제내역에서 카테고리선택안했을때 (교통) -->
	<select id="selectTransportPurchaseList"
		resultMap="reservation_rm">
		SELECT
		R.RESERVATION_NO,R.RESERVATION_NAME,R.RESERV_START_DATE,R.RESERV_END_DATE,R.PRICE,R.PAY_TIME,R.RESERV_TYPE,R.RESERV_UID,T.DEP_PLACE,T.ARR_PLACE,T.SEAT_NO
		FROM "RESERVATION" R JOIN "TRANSPORTATION" T ON
		(R.RESERVATION_NO=T.RESERVATION_NO)
		WHERE USER_NO = #{userNo} AND
		RESERVATION_DEL_FL = 'N'
	</select>
	<!-- 나의 결제내역에서 카테고리선택안했을때 (숙박) -->
	<select id="selectAccPurchaseList" resultMap="reservation_rm">
		SELECT
		R.RESERVATION_NO,R.RESERVATION_NAME,R.RESERV_START_DATE,R.RESERV_END_DATE,R.PRICE,R.PAY_TIME,R.RESERV_TYPE,R.RESERV_UID,
		A.ACC_ADDR
		FROM "RESERVATION" R JOIN "ACC_RESERVATION" AR ON
		(R.RESERVATION_NO=AR.RESERVATION_NO)
		JOIN "ACC" A ON
		(AR.ACC_NO=A.ACC_NO)
		WHERE USER_NO = #{userNo} AND
		RESERVATION_DEL_FL =
		'N'
	</select>

	<!-- 내 게시글 조회 (전체) -->
	<select id="myPost" resultMap="boardMyPost">

		SELECT b.*, bt.BOARD_NAME
		FROM
		"BOARD" b
		JOIN "USER" u ON b.USER_NO = u.USER_NO
		JOIN "BOARD_TYPE" bt ON
		b.BOARD_CODE = bt.BOARD_CODE
		WHERE BOARD_DEL_FL = 'N'
		AND u.USER_ID = #{userId}

	</select>

	<!-- 내 게시글 조회 옵션 선택 -->
	<select id="myPostDetail" resultMap="boardMyPost">
		SELECT b.*, bt.BOARD_NAME
		FROM "BOARD" b
		JOIN "USER" u ON
		b.USER_NO =
		u.USER_NO
		JOIN "BOARD_TYPE" bt ON b.BOARD_CODE =
		bt.BOARD_CODE
		WHERE BOARD_DEL_FL = 'N'
		AND u.USER_ID = #{userId}

		<if test='category == 2'>

			AND b.BOARD_CODE = 2
		</if>
		<if test='category ==3'>

			AND b.BOARD_CODE = 3
		</if>
		<if test='category ==4'>

			AND b.BOARD_CODE = 4
		</if>
	</select>

	<!-- 내 댓글 조회 (전체) -->
	<select id="myComment" resultMap="MyComment">

		SELECT C.COMMENT_NO, C.COMMENT_CONTENT, B.BOARD_CODE, B.BOARD_TITLE
		FROM "COMMENT" C
		JOIN
		"BOARD" B ON C.BOARD_NO
		= B.BOARD_NO
		JOIN "USER" U ON C.USER_NO =
		U.USER_NO
		WHERE BOARD_DEL_FL = 'N'
		AND U.USER_ID = #{userId}
		AND C.COMMENT_DEL_FL = 'N'
		START WITH C.PARENT_NO IS NULL
		CONNECT BY
		PRIOR C.COMMENT_NO = C.PARENT_NO
		ORDER SIBLINGS BY C.COMMENT_NO
	</select>

	<!-- 내 댓글 조회(카테코리 선택) -->
	<select id="myCommentDetail" resultMap="MyComment">
		SELECT C.COMMENT_NO, C.COMMENT_CONTENT, B.BOARD_CODE, B.BOARD_TITLE
		FROM "COMMENT" C
		JOIN "BOARD" B ON C.BOARD_NO = B.BOARD_NO
		JOIN "USER" U
		ON C.USER_NO = U.USER_NO
		WHERE U.USER_ID = #{userId}
		<if test='category == 2'>
			AND B.BOARD_CODE = '2'
		</if>
		<if test='category == 3'>
			AND B.BOARD_CODE = '3'
		</if>
		<if test='category == 4'>
			AND B.BOARD_CODE = '4'
		</if>
		AND C.COMMENT_DEL_FL = 'N'
		START WITH C.PARENT_NO IS NULL
		CONNECT BY
		PRIOR C.COMMENT_NO = C.PARENT_NO
		ORDER SIBLINGS BY C.COMMENT_NO
	</select>


	<select id="selectTransportPurchaseListSearch"
		resultMap="reservation_rm">
		SELECT
		R.RESERVATION_NO,R.RESERVATION_NAME,R.RESERV_START_DATE,R.RESERV_END_DATE,R.PRICE,R.PAY_TIME,R.RESERV_TYPE,R.RESERV_UID,T.DEP_PLACE,T.ARR_PLACE,T.SEAT_NO
		FROM "RESERVATION" R JOIN "TRANSPORTATION" T ON
		(R.RESERVATION_NO=T.RESERVATION_NO)
		WHERE USER_NO = #{userNo} AND
		RESERVATION_DEL_FL = 'N'
		<if test='category =="bus"'>
			AND RESERV_TYPE = 'B'
		</if>
		<if test='category =="train"'>
			AND RESERV_TYPE = 'T'
		</if>
	</select>

	<select id="selectAccPurchaseListSearch"
		resultMap="reservation_rm">
		SELECT
		R.RESERVATION_NO,R.RESERVATION_NAME,R.RESERV_START_DATE,R.RESERV_END_DATE,R.PRICE,R.PAY_TIME,R.RESERV_TYPE,R.RESERV_UID,
		A.ACC_ADDR
		FROM "RESERVATION" R JOIN "ACC_RESERVATION" AR ON
		(R.RESERVATION_NO=AR.RESERVATION_NO)
		JOIN "ACC" A ON
		(AR.ACC_NO=A.ACC_NO)
		WHERE USER_NO = #{userNo} AND
		RESERVATION_DEL_FL =
		'N'
		AND RESERV_TYPE = 'A'
	</select>


	<!-- 받은 쪽지 목록 조회 -->
	<select id="selectGetMessageList" resultMap="message_rm">
		SELECT MESSAGE_NO,
		USER_NICKNAME, MESSAGE_CONTENT, TO_CHAR(M_CREATE_DATE, 'YYYY-MM-DD')
		M_CREATE_DATE
		FROM MESSAGE
		JOIN "USER" ON(USER_NO = SENDER_NO)
		WHERE
		RECIEVER_NO = #{userNo}
		AND MESSAGE_DEL_FL = 'N'
		ORDER BY MESSAGE_NO
		DESC
	</select>

	<!-- 쪽지함 카테고리 선택 -->
	<select id="selectMyMessageCategory" resultMap="message_rm">
		SELECT MESSAGE_NO, USER_NICKNAME, MESSAGE_CONTENT,
		TO_CHAR(M_CREATE_DATE, 'YYYY-MM-DD') M_CREATE_DATE
		FROM MESSAGE
		<if test='categoryMessage == "getMessage"'>
			JOIN "USER" ON(USER_NO = SENDER_NO)
			WHERE RECIEVER_NO =
			#{userNo}
		</if>
		<if test='categoryMessage == "sentMessage"'>
			JOIN "USER" ON(USER_NO = RECIEVER_NO)
			WHERE SENDER_NO =
			#{userNo}
		</if>
		AND MESSAGE_DEL_FL = 'N'
		ORDER BY MESSAGE_NO DESC
	</select>

	<!-- 내 게시글 삭제 -->
	<update id="deleteMyPost">
		UPDATE "BOARD" SET BOARD_DEL_FL = 'Y'
		WHERE BOARD_NO IN
		<foreach collection="array" item="arr" open="(" close=")" separator=",">
			#{arr}
		</foreach>

	</update>
	
	<!-- 내 댓글 삭제 -->
	<update id="deleteMyComment">
		UPDATE "COMMENT" SET COMMENT_DEL_FL = 'Y'
		WHERE COMMENT_NO IN
		<foreach collection="array" item="arr" open="(" close=")" separator=",">
			#{arr}
		</foreach>

	</update>
	

</mapper>
