<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">


	<resultMap type="Acc" id="acc_rm">
		<id property="accNo" column="ACC_NO" />

		<result property="accName" column="ACC_NAME" />
		<result property="accTel" column="ACC_TEL" />
		<result property="accAddr" column="ACC_ADDR" />
		<result property="accStFl" column="ACC_ST_FL" />
		<result property="bossNo" column="BOSS_NO" />
		<result property="accCategory" column="ACC_CATEGORY" />
		<result property="openDate" column="OPEN_DATE" />
		
		<result property="reviewCount" column="REVIEW_COUNT" />
		<result property="rate" column="AVG_RATE" />
		<result property="price" column="ROOM_PRICE" />

		<result property="profileImage" column="PROFILE_IMG" />
		<result property="thumbnail" column="THUMBNAIL" />
		
		 <collection property="imageList"
		 			 select="selectImageList"
		 			 column="ACC_NO"
		 			 javaType="java.util.ArrayList"
		 			 ofType="Image">
		 </collection>
		 

		
	</resultMap>
	
	
	<resultMap type="Review" id="review_rm">
		<id property="accReviewNo" column="A_REVIEW_NO" />

		<result property="accReviewContent" column="A_REVIEW_CONTENT" />
		<result property="accCreateDate" column="A_CREATE_DATE" />
		<result property="accReviewDelFl" column="A_REVIEW_DEL_FL" />
		<result property="accNo" column="ACC_NO" />
		<result property="userNo" column="USER_NO" />
	</resultMap>
	
	
	<resultMap type="Rate" id="rate_rm">
		<id property="rateNo" column="RATE_NO" />

		<result property="accCleanRate" column="A_CLEAN_RATE" />
		<result property="accFacRate" column="A_FAC_RATE" />
		<result property="accKindRate" column="A_KIND_RATE" />
		<result property="accReviewNo" column="A_REVIEW_NO" />
		
		<result property="avgCleanRate" column="AVG_CLEAN_RATE" />
		<result property="avgFacRate" column="AVG_FAC_RATE" />
		<result property="avgKindRate" column="AVG_KIND_RATE" />
		
		
	</resultMap>
	
	
	<resultMap type="AccReserve" id="res_rm">
	
		<id property="reservationNo" column="RESERVATION_NO" />

		<result property="reservationName" column="RESERVATION_NAME" />
		<result property="reservationDelFl" column="RESERVATION_DEL_FL" />
		<result property="reservStartDate" column="RESERV_START_DATE" />
		<result property="reservEndDate" column="RESERV_END_DATE" />
		
		<result property="reviewStartDate" column="REVIEW_START_DATE" />
		
		<result property="price" column="PRICE" />
		<result property="reservType" column="RESERV_TYPE" />
		<result property="payTime" column="PAY_TIME" />
		<result property="reservUid" column="RESERV_UID" />
		<result property="userNo" column="USER_NO" />
		<result property="accNo" column="ACC_NO" />
		<result property="resPeople" column="RES_PEOPLE" />
		<result property="accCode" column="ACC_CODE" />

	</resultMap>



	<select id="findNo" resultType="_int">
        SELECT R.ACC_NO 
        FROM ACC A
        JOIN ACC_RESERVATION R ON(R.ACC_NO = A.ACC_NO)
		WHERE RESERVATION_NO = #{reservationNo}
	</select>
	
	<insert id="insertAccReview" parameterType="Review" useGeneratedKeys="true">
	<selectKey order="BEFORE" resultType="_int" keyProperty="accReviewNo">
		SELECT SEQ_A_REV_NO.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO ACC_REVIEW 
		(A_REVIEW_NO, A_REVIEW_CONTENT, A_CREATE_DATE, A_REVIEW_DEL_FL, ACC_NO, USER_NO)
		VALUES (#{accReviewNo}, #{accReviewContent}, SYSDATE, 'N', #{accNo}, #{userNo})
	</insert>
	
	
	<insert id="insertRate">
		INSERT INTO ACC_RATE
		VALUES (SEQ_RATE_NO.NEXTVAL, #{accCleanRate}, #{accFacRate}, #{accKindRate}, #{accReviewNo})
	</insert>
	
	<select id="findAccNo" resultType="_int">
	    SELECT ACC_NO 
        FROM ACC_REVIEW 
		WHERE A_REVIEW_NO = #{accReviewNo}
	</select>

	<update id="updateReview">
	    UPDATE ACC_REVIEW
	    SET A_REVIEW_CONTENT = #{accReviewContent}
	    WHERE A_REVIEW_NO = #{accReviewNo}
	</update>
	
	<update id="updateRate">
	    UPDATE ACC_RATE
	    SET A_CLEAN_RATE = #{accCleanRate} ,A_FAC_RATE = #{accFacRate} ,A_KIND_RATE = #{accKindRate}
	    WHERE A_REVIEW_NO = #{accReviewNo}
	</update>
	
	<update id="deleteReview">
	    UPDATE ACC_REVIEW
	    SET A_REVIEW_DEL_FL = 'Y'
	    WHERE A_REVIEW_NO = #{accReviewNo}
	</update>

	<select id="getCurrentAccReviewNo" resultType="_int">
	    SELECT SEQ_A_REV_NO.CURRVAL FROM DUAL
	</select>
   
</mapper>
