@charset "UTF-8";

/* 경기천년 */
@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트: 경기천년체 제목 바탕 */
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


main {
    background-color: rgba(0, 67, 112, 0.041);
    display: flex;
    justify-content: center;
    margin: 0;
    /*  */
}

/* 사이드메뉴 + 본내용 */
.page-container {
    top: 0;

    display: flex;
    position: relative;
    margin: 0, 355px, 0, 355px;
}

.page-container::before {
    content: "";
    display: block;
    position: absolute;
    /* .page-container 대비 절대 위치를 지정합니다. */
    top: 0;
    left: -29%;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: white;
    /* 배경색을 하얗게 설정합니다. */
    z-index: 1;
    /* .page-container의 내용 뒤에 배치합니다. */
}

.content-container {
    background-color: white;
    margin: 25px;

    min-width: 800px;

    padding: 16px 17px 0;
    border-radius: 15px;
    box-shadow: 2px 2px 14px 0 rgba(0, 67, 112, 0.726);
    border: rgba(0, 67, 112, 0.726);
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
}



.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

#marginChart {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.chartContainer{
    margin-top: 40px;
    margin-bottom: 100px;
}

