@charset "UTF-8";

@font-face {
	font-family: NanumSquareL;
	font-weight: 400;
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.eot);
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.eot?#iefix) format("embedded-opentype");
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.woff2) format("woff2"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.woff) format("woff"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.ttf) format("truetype")
}

@font-face {
	font-family: NanumSquareR;
	font-weight: 400;
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.eot);
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.eot?#iefix) format("embedded-opentype");
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.woff2) format("woff2"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.woff) format("woff"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.ttf) format("truetype")
}

@font-face {
	font-family: NanumSquareB;
	font-weight: 400;
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.eot);
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.eot?#iefix) format("embedded-opentype");
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.woff2) format("woff2"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.woff) format("woff"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.ttf) format("truetype")
}

@font-face {
	font-family: NanumSquareEB;
	font-weight: 400;
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.eot);
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.eot?#iefix) format("embedded-opentype");
	src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.woff2) format("woff2"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.woff) format("woff"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.ttf) format("truetype")
}

/* 경기천년 */
@font-face {
	font-family: 'GyeonggiBatang';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 폰트: 경기천년체 제목 바탕 */
@font-face {
	font-family: 'GyeonggiTitleM';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


main {
	background-color: rgba(0, 67, 112, 0.041);
	display: flex;
	justify-content: center;
	margin: 0;
	/*  */
}

/* 사이드메뉴 + 본내용 */
.page-container {
	top: 0;

	display: flex;
	position: relative;
	margin: 0, 355px, 0, 355px;
}

.page-container::before {
	content: "";
	display: block;
	position: absolute;
	/* .page-container 대비 절대 위치를 지정합니다. */
	top: 0;
	left: -29%;
	right: 0;
	height: 100%;
	width: 50%;
	background-color: white;
	/* 배경색을 하얗게 설정합니다. */
	z-index: 1;
	/* .page-container의 내용 뒤에 배치합니다. */
}

.content-container {
	background-color: white;
	margin: 25px;

	min-width: 800px;

	padding: 16px 17px 0;
	border-radius: 15px;
	box-shadow: 2px 2px 14px 0 rgba(0, 67, 112, 0.726);
	border: rgba(0, 67, 112, 0.726);
	background-color: #fff;
	box-sizing: border-box;
	text-align: center;

}

/* 제목  section*/
.title-section {
	display: flex;
	justify-content: end;
	margin-bottom: 20px;
}

.title {
	font-family: 'GyeonggiBatang';
	font-weight: bold;
	font-size: 36;
	width: 115px;
	height: 40px;
	text-align: center;
	padding-top: 50px;
	padding-right: 60px;
}

.title>hr {
	border: 0;
	/* 기존 테두리를 제거합니다. */
	height: 3px;
	/* 선의 두께를 정합니다. */
	background-color: #eee;
	/* 선의 색상을 정합니다. */
}

/* 숙소 대표 이미지 */
.acc-profileImage-section {
	text-align: center;
	margin-top: 60px;
	font-family: 'GyeonggiBatang';
	font-weight: bold;
}

/* 숙소 대표 이미지 변경 버튼 */
#change-acc-profile {
	/* margin-left: 30px; */
	cursor: pointer;

	padding: 10px 20px;
	background-color: rgba(0, 67, 112, 0.555);
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

/* acc 프로필 이미지 선택 인풋창 라벨 영역 */
.div-for-accProfile {
	display: flex;
}

/* '숙소 대표이미지 문자열 영역' */
.accprofile-textArea {
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: NanumSquareB;
	font-size: 20px;

	margin-left: 40%;
	margin-right: 4px;
}

/* 숙소 대표이미지 선택하기 (input hidden lable) */
.acc-p-img-lable {
	margin-right: 20px;
	margin-left: 50px;
}

/* 라벨 안 div */
#div-profileInput {

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	background-color: rgba(0, 67, 112, 0.555);

	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;

	color: #fff;

	height: 100%;

}

#div-profileInput:hover {
	background-color: rgba(0, 67, 112, 0.726);

}




#change-acc-profile:hover {
	background-color: rgba(0, 67, 112, 0.726);

}

#change-acc-profile:active {
	transform: scale(0.9);
}


/* ------------------------------------ */

/* 숙소 대표 이미지 div */
.acc-profile {

	overflow: hidden;
	margin: 0 auto;
	background-color: azure;

	margin: auto;
	/* 중앙 정렬 */
	display: inline-block;
	/* 변경: 블록 레벨 요소에서 인라인 블록으로 변경 */

	max-height: 500px;
	max-width: 680px;

	border-radius: 12px;

	padding: 20px;
	/* 액자 내부와 내용 사이의 여백 설정 */
	background-color: rgba(0, 67, 112, 0.349);
	/* 액자의 배경색 설정 */
	border: 10px solid rgba(0, 67, 112, 0.459);
	/* 액자의 테두리 설정 */
	box-shadow: 0 0 10px rgba(0, 67, 112, 0.726);
	/* 액자에 그림자 효과 추가 */
	display: flex;
	/* 내부 컨텐츠를 중앙에 배치하기 위해 flex 사용 */
	justify-content: center;
	/* 가로 방향으로 중앙 정렬 */
	align-items: center;
	/* 세로 방향으로 중앙 정렬 */
}

.acc-profile>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.acc-profileImage-section>div>img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	/* 이미지가 div의 전체 너비를 채우도록 설정 */
}



/* 이미지 추가 */

/* 섹션  */
.accOtherImgArea {
	margin-top: 50px;
}

.img-container {

	max-width: 680px;

	min-height: 500px;
	max-height: 850px;

  overflow: auto;

	border-radius: 12px;
	margin: 0 18px 18px 18px;

	padding: 20px;
	/* 액자 내부와 내용 사이의 여백 설정 */
	background-color: rgba(0, 67, 112, 0.349);
	/* 액자의 배경색 설정 */
	border: 10px solid rgba(0, 67, 112, 0.459);
	/* 액자의 테두리 설정 */
	box-shadow: 0 0 10px rgba(0, 67, 112, 0.726);
	/* 액자에 그림자 효과 추가 */

	display: flex;

	max-width: 680px;
	display: flex;

	flex-wrap: wrap;
	/* gap: 10px; */
	/* 자식 요소들 사이의 간격을 설정 */

	justify-content: center;

}


/* 이미지 인풋창 안보이게 하기 */
.img-container input {
	display: none;
}

/* 추가 버튼 */
#upload-acc-img {
	margin-left: 65%;
	margin-bottom: 15px;


	background-color: white;
	cursor: pointer;

	padding: 10px 20px;
	background-color: rgba(4, 103, 168, 0.692);
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

#upload-acc-img:hover {
	background-color: rgba(4, 102, 168, 0.63);
}

#upload-acc-img:active {
	transform: scale(0.9);
}


#acc-profileInput {
	display: none;
}


/* 추가이미지 영역 이미지 각각의 div */
.other-acc-img {
	display: flex;
	margin: 10px 10px;
	border: 1px solid #ccc;
	padding: 10px;

	color: rgb(4, 102, 168);
	;

	min-width: 260px;
	min-height: 200px;

	max-width: 260px;
	max-height: 200px;

	position: relative;

	background-color: rgba(255, 255, 255, 0.425);

}


.other-acc-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 삭제 버튼 */
.delete-image {

	position: absolute;
	top: 4px;
	right: 7px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2px;

	border-radius: 50%;

	width: 21px;
	height: 20px;

	display: flex;
	align-items: center;
	justify-content: center;

	line-height: 21px;
}