
body {margin: 0;}

main{
    width:1200px;
    margin: 0 auto;
    
}

h1{ 
    margin-top: 40px;
    font-size: 30px;
    border-bottom: 4px solid rgb(0, 67, 112);
    margin-bottom: 0;
    width: 1200px;
}

#freeSearch{

    width: 400px;
    display: flex;
    border-bottom: 2px solid rgb(0, 67, 112);
    margin-left: 700px;
    margin-top: 30px;
    
}

#freeSearch>input{
    border : none; /* 테두리 없애기 */
    /* outline : 
        포커스가 맞춰진 input의 테두리 */
    /* outline : none; */
    outline : 0;
    font-size: 18px;
    font-weight: bold;
    padding : 10px;

    width: 92%;
}

#searchBtn{

    cursor: pointer;
    border : none;

    font-size: 1.2em;
    background-color: white;

}

/* 게시글 목록 */
.boardList{

    width: 1100px;
    margin:5px auto;
    min-height: 700px;

}

.board{
    height: 100px;
    padding: 10px;
    border-bottom:2px solid #ddd;

    margin: 20px 0;
}

.date{
    width: 150px;
    height: 25%;;
    color: rgb(0, 67, 112);
}

.boardTitle{
    height: 50%;

    font-size: 23px;
    font-weight: bold;
    padding-top: 10px;
}

.boardTitle >a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.boardInfo{
    height: 25%;
    display: flex;

    color: rgb(0, 67, 112);
}

.boardName{
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    
    color: #001057;
}

.etc{
    width: 400px;
    display: flex;

    margin-left: 880px;
}

.etc1-1{
    width: 50px;
    margin-left: 20px;
}

.buttonArea{
    width: 1100px;
    height: 60px;
    margin-bottom: 10px;
}

#writeBtn{
    width: 90px;
    height: 45px;
    margin-left: 1000px;

    font-size: 16px;
    font-weight: bold;

    color: rgb(0, 67, 112);;
    background-color: white;

    border-radius: 5px;
    border:  3px solid  rgb(0, 67, 112);

    cursor: pointer;
    
}

#writeBtn:hover{
    color: white;
    background-color:rgb(0, 67, 112); 
}


/* 페이지네이션 */
.pagination-area{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.pagination-area > ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

/* .pagination-area li{
    padding: 0 10px;
} */

.pagination-area a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 5px 10px;
}

.pagination-area a:hover{
    text-decoration: underline;
}

.current{
    color: white;
    font-weight: bold;
    background-color: rgb(0, 67, 112);
    border-radius: 5px;
}
