* {
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
main{
    min-height: 500px;
}
.ticketing-Area {
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    width: 750px;
    height: 200px;
    padding: 10px;
}


#ticketing-row-1 {
    height: 50%;
    width: 100%;
    display: flex;
}

/* 출발지 도착지 부분 */
#ticketing-1-1 {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-right: 10px;
}

#ticketing-1-1>div {
    display: flex;
    width: 45%;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: #f3f4f6;
}

#select-Departure {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
}

#select-Arrival {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
}

/* 날짜 선택 부분 */
#ticketing-1-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: #f3f4f6;

}

#ticketing-1-2>input {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 40%;
}

#ticketing-row-2 {
    margin-top: 10px;
    height: 50%;
    width: 100%;
    display: flex;
}

#ticketing-2-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: #f3f4f6;
    margin-right: 10px;
}
#ticketing-2-1 label{
    margin-right: 10px;
    font-size: 12px;
}


#ticketing-2-2 {
    width: 50%;
}

#ticketing-2-2>button{
    width: 100%;
    height: 90%;
    background-color: rgb(0, 55, 112);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
}

#ticketing-2-2>button:hover {
    cursor: pointer;
    background-color: rgba(0, 55 , 112, 0.9);
    font-weight: bold;
    border: 2px solid black;
}
/* span 태그 */
.name {
    font-weight: bold;
}

.ui-datepicker-trigger{
    display: none;
    width: 40px;
    height: 40px;
}

input[type="radio"] {
    appearance: none;
    background-color: #2f2f2f;
    width: 10px;
    height: 10px;
    opacity: 30%;
    
    border: none;
    margin: 0;
    margin-left: 3px;
}

input[type="radio"]:hover{
    cursor: pointer;
}
input[type="radio"]:checked{
    background-color:rgb(0, 55, 112);
    opacity: 1;
}

label:hover{
    cursor: pointer;
}

.ticketing-Area ul{
    margin: 0;
    padding: 0;
}

.ticketing-Area option{
    list-style: none;
    z-index: 1;
    position: relative;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}


#auto-terminal-2>li{
    list-style: none;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}


