main{
    height: 100%;
    margin: auto;
}

*{
    box-sizing: border-box;
}

div,section{
}

.bus-ticketing-area{
    width: 1200px;
    height: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* 페이지 제목 */
.page-title{
    width: 100%;
    border-bottom: 3px solid rgb(0, 55, 112);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
}

#ticketing-area{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-between;
}


#terminal-info{
    width: 25%;
    height: 100%;
    padding: 5px;
    background-color: rgb(0, 55, 112);
    color: white;
    border-radius: 5px;
}

/* 출,도착지 터미널 정보  */
#terminal-info>div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    align-items: center;
}

/* 출발, 도착 원 */
#terminal-info>div>span:nth-of-type(2){
    background-color: white;
    width: 60px;
    height: 60px;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 좌석등급, 출발시간, 도착시간 정보  */
#terminal-info>section{
    padding: 10px;
    font-size: 18px;
}

/* 일반,어린이,노인 선택 부분 */
#select-age{
    background-color: #ddd;
    padding: 5px;
    width: 20%;
    height: 100%;
    margin-left: 20px;
    border-radius: 5px;
}

#select-age>label>div{
    height: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

/* 버스 좌석 선택 부분 */
#bus-seat-area{
    display: flex;
    background-color: #ddd;
    width: 25%;
    height: 100%;
    margin-left: 20px;
    border-radius: 5px;
    padding: 50px 15px 30px 15px;
}

#bus-seat-area label,input{
    cursor: pointer;
}

#left-seat{
    width: 50%;
    height: 100%;
}
#left-seat>div{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
#left-seat>div:last-of-type{
    cursor: pointer;
    display: flex;
    width: 267px;
    justify-content: space-evenly;
}
#left-seat>div>label{
    display: flex;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}


#right-seat{
    width: 50%;
    height: 80%;
}
#right-seat>div{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

#right-seat>div>label{
    display: flex;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}

/* 선택좌석 요금 정보 */
#final-price{
    width: 20%;
    padding: 5px;
}

#final-price>div{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#final-price>section{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#final-price>section>button{
    width: 50%;
    height: 50%;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 55, 112);
}
.bold{
    font-weight: bold;
}

.age{
    display: none;
}

.seat{
    display: none;
}

#bus-seat-area label{
    display: flex;
    justify-content: center;
    align-items: center;
}



#age-info{
    height: 50px;
}
#seat-info{
    height: 50px;
}

#paymentMethod{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}


